*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.nav-link {
    font-family: 'Grey Qo', cursive;
    color : white;
    font-weight:500;
    font-size: 17px;
}
.navbar-brand{
    font-family: 'Dancing Script', cursive;
    color: black;
    font-size: 30px;
    font-weight: 700;
}
h5{
    font-size: 20px;
}
h1,h3,h4,h5,h6{
    font-family: 'Dancing Script', cursive;
    color: black;
}
h2{

    font-family: 'Grey Qo', cursive;
    color: black;
}
.uu{
    font-family: 'Grey Qo', cursive;
}
.cc{
    font-size: 40px;
    font-weight:700 ;
    font-family: 'Dancing Script', cursive;
}
.aa{
    position: absolute;
    top: 55px;
    color: white;
    font-size: 15px;

}
.aa1{
    position: absolute;
    left: 1000px;
    top: 55px;
    color:white;
    font-size: 15px;
}
.aa2{
    position: absolute;
    left: 1080px;
    top: 55px;
    color:white;
    font-size: 15px;
}
.aa3{
    position: absolute;
    left: 1165px;
    top: 55px;
    color: white;
    font-size: 15px;
}
.bb{
    width: 200px;
    transition: 0.4s;    
}

.card:hover{
    box-shadow: 0px 0px 21px 4px rgba(0,0,0,0.71);
-webkit-box-shadow: 0px 0px 21px 4px rgba(0,0,0,0.71);
-moz-box-shadow: 0px 0px 21px 4px rgba(0,0,0,0.71);
transition: 0.5s;
}

#footer {
    color: #37423b;
    font-size: 14px;
    background: #eef0ef;
  }
  #footer .footer-top {
    padding: 60px 0 30px 0;
    background: #f9faf9;
  }
  #footer .footer-top .footer-contact {
    margin-bottom: 30px;
  }
  #footer .footer-top .footer-contact h4 {
    font-size: 22px;
    margin: 0 0 30px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
  }
  #footer .footer-top .footer-contact p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
    color: #777777;
  }
  #footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: #444444;
    position: relative;
    padding-bottom: 12px;
  }
  #footer .footer-top .footer-links {
    margin-bottom: 30px;
  }
  #footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  #footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #000000;
    font-size: 18px;
    line-height: 1;
  }
  #footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  #footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
  }
  #footer .footer-top .footer-links ul a {
    color: #777777;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
  }
  #footer .footer-top .footer-links ul a:hover {
    text-decoration: none;
    color: #000000;
  }
  #footer .footer-newsletter {
    font-size: 15px;
  }
  #footer .footer-newsletter h4 {
    font-size: 16px;
    font-weight: bold;
    color: #444444;
    position: relative;
    padding-bottom: 12px;
  }
  #footer .footer-newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 50px;
    text-align: left;
    border: 1px solid #e0e5e2;
  }
  #footer .footer-newsletter form input[type=email] {
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
  }
  #footer .footer-newsletter form input[type=submit] {
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px 2px 20px;
    background: #000000;
    color: #fff;
    transition: 0.3s;
    border-radius: 50px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }
  #footer .footer-newsletter form input[type=submit]:hover {
    background: #000000;
  }
  #footer .credits {
    padding-top: 5px;
    font-size: 13px;
  }
  #footer .credits a {
    color: #000000;
    transition: 0.3s;
  }
  #footer .credits a:hover {
    color: #000000;
  }
  #footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #000000;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  #footer .social-links a:hover {
    background: #000000;
    color: #fff;
    text-decoration: none;
  }
